<h2>Source code tree of: {{name}}</h2>
{{d3-tree data=d3Data action="showFile"}}
<div class="view-content">
  <div class="name">
    {{selectedFileName}}
  </div>
  <div class="source">
    {{selectedFileContent}}
  </div>
</div>
